@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* linear, ease, ease-in, ease-out, ease-in-out */
}

body {
    background-color: #1f1f1f;
    color: #ffffff;
}

nav {
    display: grid;
    column-gap: 50px;
}

nav > a {
    background-color: #ff0000;
}

main {
    display: grid;
}